body{
    background-color:var(--bg-color);
}

section{padding: 35px;
    justify-items: center;
    width: 1200px;
    text-align: center;
    margin: 35px auto;
    line-height: 30px;
    border-bottom: 1px solid var(--section-border-color);
}

.marketing{
    border: none;

    & p {
        margin: 20px;
    }
}

img {
    height: 280px;
    margin: 20px 0;
}

h1 {
    font-size:35px;
}

h2 {
    margin: 15px 0;
}

h3 {
    margin: 15px 0;
}

span {
    font-weight:bold;
}

.btn-std{
    transition: all 0.2s ease-in-out;
    margin-top:20px ;
    display: block;
    text-decoration: none;
    border: 1px solid var(--btn-color);
    padding: 2px 35px;
    border-radius: 35px;
    color:white;
    background-color: var(--btn-color);
}

.btn-std:hover{
    background-color: var(--btn-hover);
    font-weight: bold;
}